# Port to expose on your VPS host (default: 3040)
# Make sure this port does not conflict with your other projects
PORT=3040
VIRTUAL_HOST=kundanworks.shonku.site
LETSENCRYPT_HOST=kundanworks.shonku.site
